<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pauper Tier Cube</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <style>
        .PoppingHeading {
            font-family: Arial, Helvetica, sans-serif;
            font: 600;
            padding: 20px;
            text-align:center;
        }
        .MyText {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 20px;
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
        }
        .NoneDiv{
            width:100%;
            position:absolute;
            height:92%;
            background-color:white;
            overflow-y:scroll;            
            padding-left:20px;
            padding-right:20px;
            padding-top:15px;
            padding-bottom:15px;
            border: 3px inset gray;
            top:8%;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;
        }
        .TierDiv {
            padding-top: 10px;
            padding-bottom: 10px;
            border: 3px inset gray;
            text-align: center;
            width:100%;
            height:95%;
            overflow-y:scroll;
            float: left;
        }
        .ColorIdentityDiv{
            padding-top:10px;
            padding-bottom:10px;
            border: 3px inset gray;
            text-align: center;
            margin-left:0.5%;
            width: 13.85%;
            height:fit-content;
            float: left;
            margin-bottom:20px;
        }
        .CardListItem{
            margin: 0px;
            padding: 0px;
            color:blue;
            cursor:pointer;
        }
        .CardImgItem{
            width:215px;
        }
        .CardCountDestinations::-webkit-scrollbar{
            opacity:0;
        }
        .FilterDiv {
            width: max-content;
            height: max-content;
            float: left;
        }
        label {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pauper Tier Cube</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="List">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Decks">Decks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Themes">Themes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Stats">Stats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted"@* style="margin-top:20px"*@>
        <div class="container">
            &copy; 2021 - Pauper Tier Cube - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
