@{
    ViewData["Title"] = "Deck Filters Pop Up";
}

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        .DeckDiv {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            border: solid;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            background-color: aliceblue;
            align-items: center;
        }
        .DeckDiv:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    </style>
</head>

<body onload="FetchDeckData()">
    <div style="display:flex;flex-direction:column;align-items:center">
        <div id="wrapperDiv" style="width:1215px;top:10%;height:80%;position:absolute;display:flex"></div>
    </div>
    <div id="toolTipDiv" style="opacity:0%"></div>
</body>
</html>