@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        .numberInput {
            width:45px;
        }
    </style>
</head>

<body onload="prepareDecksPage();">
    <div style="display:flex;flex-direction:column;align-items:center">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" id="genericStatsButton">Generic Stats</button>
            <button class="tablinks" id ="numericStatsButton">Numeric Stats</button>
            <button class="tablinks" id="displayButton">Display</button>
        </div>

        <!-- Tab content: Generic Stats -->
        <div class="tabcontent" id="genericStatsButtonContent">
            <div class="FilterDiv" style="width:100px">
                <label>Deck ID:</label><br>
                <input type="number" style="width:100%" id="deckIDFilter"/>
            </div>
            <div class="FilterDiv" style="width:120px">
                <label>Player Name:</label><br>
                <input style="width:100%" id="playerNameFilter"/>
            </div>
            <div class="FilterDiv" style="width:100px">
                <label>Strategy:</label><br>
                <input style="width:100%" id="stratFilter"/>
            </div>
            <div class="FilterDiv">
                <label>Colors:</label><br>
                <div id="colorsFilter">
                    <label><input type="checkbox" value="W"/> White</label><br>
                    <label><input type="checkbox" value="U"/> Blue</label><br>
                    <label><input type="checkbox" value="B"/> Black</label><br>
                    <label><input type="checkbox" value="R"/> Red</label><br>
                    <label><input type="checkbox" value="G"/> Green</label>
                </div>
            </div>
            <div class="FilterDiv" style="width:100px">
                <label>Date:</label><br>
                <input style="width:100%" id="dateFilter"/>
            </div>
        </div>

        <!-- Tab content: Numeric Stats -->
        <div class="tabcontent" id="numericStatsButtonContent">
            <div class="FilterDiv">               
                <label>Wins:</label><br>
                <input type="number" class="numberInput" id="minWins" value="0"/>
                <label> - </label>
                <input type="number" class="numberInput" id="maxWins"/><br><br>
                <label>Losses:</label><br>
                <input type="number" class="numberInput" id="minLosses" value="0"/>
                <label> - </label>
                <input type="number" class="numberInput" id="maxLosses"/>
            </div>
            <div class="FilterDiv">
                <label>Average Mana Value:</label><br>
                <input type="number" class="numberInput" id="minAverageManaValueFilter" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxAverageManaValueFilter"/>
            </div>
            <div class="FilterDiv">
                <label>Lands:</label><br>
                <input type="number" class="numberInput" id="minLands" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxLands"/><br><br>
                <label>Nonlands:</label><br>
                <input type="number" class="numberInput" id="minNonlands" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxNonlands"/>
            </div>
        </div>

        <!-- Tab content: Display -->
        <div class="tabcontent" id="displayButtonContent">
        </div>

        <!-- Filter Button -->
        <button id="filterButton" style="margin-top:20px;width:50%">Filter</button>
    </div>
</body>
</html>