@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style>
        .numberInput {
            width:45px;
        }
    </style>
</head>

<body onload="prepareDecksPage();">
    <div id="wrapperDiv" style="display:flex;flex-direction:column;align-items:center">
        <!-- Tab links -->
        <div class="tab">
            <button class="tablinks" id="genericStatsButton">Generic Stats</button>
            <button class="tablinks" id ="numericStatsButton">Numeric Stats</button>
            <button class="tablinks" id="orderingButton">Ordering</button>
        </div>

        <!-- Tab content: Generic Stats -->
        <div class="tabcontent" id="genericStatsButtonContent">
            <div class="FilterDiv" style="width:100px">
                <label>Deck ID:</label><br>
                <input type="number" list="deckIds" style="width:100%" id="deckIdFilter">
                <datalist id="deckIds">
                    <option></option>
                </datalist>
            </div>
            <div class="FilterDiv" style="width:120px">
                <label>Player Name:</label><br>
                <input list="playerNames" style="width:100%" id="playerNameFilter">
                <datalist id="playerNames" style="width:100%">
                    <option></option>
                    <option value="CheerioBagel"></option>
                    <option value="CinnamonToes"></option>
                    <option value="DungeonMaestro"></option>
                    <option value="HandOfEmrakul"></option>
                    <option value="MonoGreenBill"></option>
                    <option value="Misc"></option>
                    <option value="OGPrime"></option>
                    <option value="TestSubject"></option>
                    <option value="Varchild'sWar-Rider"></option>
                </datalist>
            </div>
            <div class="FilterDiv" style="width:100px">
                <label>Strategy:</label><br>
                <input list="strats" style="width:100%" id="stratFilter">
                <datalist id="strats" style="width:100%">
                    <option></option>
                </datalist>
            </div>
            <div class="FilterDiv">
                <label>Colors:</label><br>
                <div id="colorsFilter">
                    <label><input type="checkbox" value="W"/> White</label><br>
                    <label><input type="checkbox" value="U"/> Blue</label><br>
                    <label><input type="checkbox" value="B"/> Black</label><br>
                    <label><input type="checkbox" value="R"/> Red</label><br>
                    <label><input type="checkbox" value="G"/> Green</label>
                </div>
            </div>
            <div class="FilterDiv" style="width:135px">
                <label>Newer Than:</label><input type="date" style="width:100%" id="newerThanDateFilter" value="2021-03-16"/><br><br>
                <label>Older Than:</label><input type="date" style="width:100%" id="olderThanDateFilter"/>
            </div>
        </div>

        <!-- Tab content: Numeric Stats -->
        <div class="tabcontent" id="numericStatsButtonContent">
            <div class="FilterDiv">               
                <label>Wins:</label><br>
                <input type="number" class="numberInput" id="minWins" value="0"/>
                <label> - </label>
                <input type="number" class="numberInput" id="maxWins"/><br><br>
                <label>Losses:</label><br>
                <input type="number" class="numberInput" id="minLosses" value="0"/>
                <label> - </label>
                <input type="number" class="numberInput" id="maxLosses"/>
            </div>
            <div class="FilterDiv">
                <label>Average Mana Value:</label><br>
                <input type="number" class="numberInput" id="minAverageManaValueFilter" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxAverageManaValueFilter"/>
            </div>
            <div class="FilterDiv">
                <label>Lands:</label><br>
                <input type="number" class="numberInput" id="minLands" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxLands"/><br><br>
                <label>Nonlands:</label><br>
                <input type="number" class="numberInput" id="minNonlands" value="0"/>
                <label>-</label>
                <input type="number" class="numberInput" id="maxNonlands"/>
            </div>
        </div>

        <!-- Tab content: Ordering -->
        <div class="tabcontent" id="orderingButtonContent">
            <div class="FilterDiv">
                <label>Primary Sort:</label><br>
                <select id="primarySortInput">
                    <option value="DatePlayed" selected="selected">Date</option>
                    <option value="Strat">Strategy</option>
                    <option value="AvgManaValue">Average Mana Value</option>
                    <option value="GamesWon">Wins</option>
                    <option value="GamesLost">Losses</option>
                    <option value="PlayerName">Player</option>
                </select>
            </div>
            <div class="FilterDiv">
                <label>Secondary Sort:</label><br>
                <select id="secondarySortInput">
                    <option value="DatePlayed">Date</option>
                    <option value="Strat" selected="selected">Strategy</option>
                    <option value="AvgManaValue">Average Mana Value</option>
                    <option value="GamesWon">Wins</option>
                    <option value="GamesLost">Losses</option>
                    <option value="PlayerName">Player</option>
                </select>
            </div>
        </div>

        <!-- Filter Button -->
        <button id="filterButton" style="margin-top:20px;width:50%">Filter</button>
    </div>
</body>
</html>